body {
  background-color: #324253;
}
button {
  background-color: #ff8000;
}
/* --------login_pag-------- */
.login_page {
  width: 300px;
  /* height: 290px; */
  background-color: white;
  border-radius: 5px;
  margin: 100px auto 10px;
  text-align: center;
  padding: 20px 50px;
}
.login_page > input {
  margin-top: 16px;
}
.login_page > span {
  margin-top: 16px;
}
.login_page > button {
  margin-top: 16px;
}

/* --------ItemList_pag-------- */
.itemlist_box {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.itemlist_top {
  padding: 10px 80px;
}
.ant-breadcrumb {
  margin-bottom: 16px;
}
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
  color: #fff;
}
